//
// named.conf.local
//
{% for x in zones %}
zone "{{x.dom}}" {
     type {{x.type}};
     file /etc/named/zones/db.{{x.dom}};
};
{% endfor %}
{% for x in zones %}
zone "{{x.subnet}}.in-addr.arpa" {
     type {{x.type}};
     file /etc/named/zones/db.{{x.subnet}};
};
{% endfor %}
